<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-item lines="none">
                <ion-label>@if(isPersistant()) { Persistent } @else { Temporal }</ion-label>
                <ion-toggle id="persistToggle" aria-label="Persist" [checked]="isPersistant()" (ionChange)="togglePersistant()"></ion-toggle>
            </ion-item>
            @if(isPersistant()) {
            <ion-item lines="none">
                <ion-label>@if(isPublic()) { Public } @else { Private }</ion-label>
                <ion-toggle id="publicToggle" aria-label="Public or Private" [checked]="isPublic()" (ionChange)="togglePublic()"></ion-toggle>
            </ion-item>
            }
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-textarea id="noteTextarea" placeholder="Write a note…" auto-grow="false" rows="4" [formControl]="noteText">
    </ion-textarea>

    <div class="ion-padding-top ion-text-right">
        <ion-button size="small" (click)="onClose()">Close</ion-button>
        <ion-button size="small" (click)="onSave()">Save</ion-button>
    </div>
</ion-content>