<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Image Analysis</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="tertiary" (click)="openPluginDrawer()">
        <ion-icon slot="start" name="sparkles"></ion-icon>
        AI PLugins
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Image Analysis</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(!imageId()) {
  <!-- Search -->
  <ion-card class="search-card">
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Image ID</ion-label>
        <ion-input [formControl]="searchImageId" placeholder="Enter Image ID">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="searchImage()">
        Retrieve Image
      </ion-button>
    </ion-card-content>
  </ion-card>
  }
  <!-- Viewer-->
  <ion-content [style.display]="imageLoaded() ? 'block' : 'none'">
    <ion-grid class="analysis-grid">
      <ion-row>
        <!-- Viewer (Left on Desktop / Top on Mobile) -->
        <ion-col size="12" size-lg="8" size-xl="9">
          <ion-card class="viewer-card">

            <ion-card-header>
              <ion-card-title>{{ imageInfo()?.title }}</ion-card-title>
              <ion-card-subtitle>{{ imageInfo()?.description }}</ion-card-subtitle>
            </ion-card-header>

            <ion-button expand="block" (click)="enableDropPinMode()" [disabled]="dropPinMode()">
              Drop Pin
            </ion-button>
            <ion-toggle [checked]="showingPins()" (ionChange)="showPinsToggle()">
              Show Pins
            </ion-toggle>

            <ion-card-content>
              <div [style.cursor]="dropPinMode() ? 'crosshair' : 'default'" #osdViewer class="osd-viewer"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Info Panel (Right on Desktop / Bottom on Mobile) -->
        <ion-col size="12" size-lg="4" size-xl="3">
          <app-image-details [image]="imageInfo()"></app-image-details>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <div #container hidden>
  </div>
</ion-content>