<ion-card [routerLink]="['/analyze', image().id]" routerDirection="forward" button>
  <div class="image-container">
    <ion-img [src]="image().previewImageUrl ?? image().viewableImageUrl ?? image().url" alt="{{ image().title }}"></ion-img>
  </div>
  <ion-card-header>
    <ion-card-title>{{ image().title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="medium" class="description">{{ image().description }}</ion-text>
    @for(tag of image().tagsList; track tag) {
    <ion-chip><ion-label>{{ tag }}</ion-label></ion-chip>
    }
  </ion-card-content>
</ion-card>