<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Image Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="6">
        <ion-searchbar
          placeholder="Search images..."
          (ionInput)="onSearch($event)">
        </ion-searchbar>
      </ion-col>

      <ion-col size="12" size-md="6">
        <app-tags-selector [tagsArray]="tagsArray"></app-tags-selector>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      @for (img of filteredImages(); track img.id) {
        <ion-col size="6" size-md="4" size-lg="3">
          <app-image-card [image]="img"></app-image-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
