<ion-card class="details-card">
  <ion-card-header>
    <ion-card-title>Details</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label class="label-title">Tags</ion-label>
      </ion-item>
      <div class="tags-container">
        @for(tag of imageInfo()?.tagsList;track tag) {
        <ion-chip>
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>
        }
      </div>
      <!-- Notes -->
      <ion-item class="ion-margin-top">
        <ion-label>Notes</ion-label>
      </ion-item>
      <ion-textarea [formControl]="noteControl" placeholder="Add your notes.." autoGrow="true"></ion-textarea>
      <ion-button expand="block" size="small" color="primary" class="ion-margin-top" (click)="saveNote()">Save
        Note</ion-button>
      <!-- Comments -->
      <ion-item class="ion-margin-top">
        <ion-label>Comments</ion-label>
      </ion-item>

      <div class="comment-section">
        <ion-list>
          @if(imageInfo()?.comments?.length) {
          @for(c of imageInfo()!.comments ?? []; let index = $index; track c) {
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="person-circle-outline" style="font-size: 40px;"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>{{ c.author }}</h3>
              <p>{{ c.text }}</p>
              <p>{{ c.date | date }}</p>
            </ion-label>
            @if(isMine(c)) {
              <ion-button slot="end" fill="clear" (click)="removeComment(index)">
                <ion-icon name="trash-sharp"></ion-icon>
              </ion-button>
            }
          </ion-item>
          }
          }
        </ion-list>

        <ion-item lines="none" class="comment-input">
          <ion-input placeholder="Add a comment.." [formControl]="commentControl"
            (keyup.enter)="addComment()"></ion-input>
          <ion-button fill="clear" color="primary" (click)="addComment()">
            <ion-icon slot="icon-only" name="send-sharp" style="font-size: 24px;"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>